---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-4xl">
    This Website is <span
      class="bg-gradient-to-br from-purple-300 to-purple-700 bg-clip-text text-transparent"
      >Extraordinary</span
    >
  </h1>
</Layout>
