---
import Layout from "../layouts/Layout.astro";
---

<script>
  const title1 = document.getElementById("title");
  const title2 = document.getElementById("title2");

  const secretCode = "abc";
  let enteredKeys = "";

  function doTheThing() {
    console.log("Secret Key Entered");
    title1!.innerText = "This Website i s";
    title2!.innerText = "Extraordinary";
  }

  document.addEventListener("keydown", (event) => {
    // Check if pressed button in secret key (at where we should be)
    if (event.key === secretCode[enteredKeys.length]) {
      enteredKeys += event.key;

      // Entered successfully
      if (enteredKeys === secretCode) {
        doTheThing();
        enteredKeys = "";
      }
    } else {
      // Reset enteredKeys
      enteredKeys = event.key;
    }
  });
</script>

<Layout>
  <h1 class="text-4xl p-2 m-2">
    <span id="title">This Website is&nbsp</span><span
      id="title2"
      class="bg-gradient-to-br from-purple-300 to-purple-700 bg-clip-text text-transparent"
      >Extraordinary</span
    >
  </h1>
</Layout>
