---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>
    This Website is <span
      class="bg-gradient-to-br from-purple-200 to-purple-600 bg-clip-text text-transparent"
      >Extraordinary</span
    >
  </h1>
</Layout>
