---
import Layout from "../layouts/Layout.astro";

const list = [["random_thing", "https://randomthing.isextraordinary.com"]];
---

<Layout>
  <div class="pl-4">
    <ul>
      <li class="hover:text-gray-400">
        {list.map(([title, url]) => <a href={url}> {title} </a>)}
      </li>
    </ul>
  </div>
</Layout>
