<div class="pb-4" id="navbar">
  <nav class="space-x-6 flex">
    <div class="hover:animate-shake"><a href="/">[This Website]</a></div>
    <div class="hover:animate-shake"><a href="/list">[Website List]</a></div>
    <div class="hover:animate-shake"><a>[Random Website]</a></div>
    <div class="hover:animate-shake justify-self-end">
      <a href="/info">[info]</a>
    </div>
  </nav>
</div>
