<div class="flex m-2 space-x-4">
  <div class="hover:animate-shake">[Website List]</div>
  <div class="hover:animate-shake">[This Website]</div>
  <div class="hover:animate-shake">[Random Website]</div>
</div>
