<div class="pb-4" id="navbar">
  <nav class="space-x-6 flex">
    <div class="hover:animate-shake"><a href="/">[This Website]</a></div>
    <div class="hover:animate-shake"><a href="/list">[Website List]</a></div>
    <div class="text-red-700 justify-self-end">
      <a class="hover:cursor-default" href="/not_ready">[Random Website]</a>
    </div>
    <div class="text-red-700 justify-self-end">
      <a class="hover:cursor-default" href="/not_ready">[info]</a>
    </div>
  </nav>
</div>
